<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Rl_Wordpress" setup_version="0.1.0">
        <sequence>
            <module name="Clrz_Wordpress"/>
            <module name="FishPig_WordPress"/>
            <module name="FishPig_WordPress_ACF"/>
        </sequence>
    </module>
</config>
